<main class="main-section">
    <div class="left-panel">
        <div class="headline">
            <h1 class="sore-today">Sore Today</h1>
            <h1 class="strong-tomorrow">Strong<br>Tomorrow</h1>
        </div>
        <p class="sub-headline">
            Every rep, every drop of sweat, every sore muscle — it's proof you're leveling up.
        </p>
        <button class="cta-button" (click)="scrollToExerciseFinder()">Choose Your Exercise</button>
    </div>
    <div class="right-panel">
        </div>
</main>

<section id="exercise-finder" class="exercise-section">
    <div class="search">
        <h2>Exercise Finder</h2>
        <div class="search-input">
            <select [(ngModel)]="selectedBodyPart" (change)="getExercises()">
                <option *ngFor="let part of bodyParts" [value]="part">{{ part | titlecase }}</option>
            </select>
        </div>
    </div>

    <div *ngIf="exercises.length > 0; else noResults" class="analyzer-container">
        <div class="results-grid">
            <div *ngFor="let exercise of exercises" class="nutrition-card" (click)="goToExerciseVideosPage(exercise.name)">
                <div class="card-image-wrapper">
                    <img class="card-image" [src]="exercise.gifUrl" [alt]="exercise.name + ' animation'">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{ exercise.name | titlecase }}</h3>
                    <ul class="nutrient-list">
                        <li>
                            <span class="nutrient-name">Target</span>
                            <span class="nutrient-value">{{ exercise.target | titlecase }}</span>
                        </li>
                        <li>
                            <span class="nutrient-name">Equipment</span>
                            <span class="nutrient-value">{{ exercise.equipment | titlecase }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noResults>
        <div class="no-results">
          <p>Select a body part to see the exercises.</p>
        </div>
    </ng-template>
</section>